
  
  .friend-list li {
    margin-bottom: 16px; /* Задайте відступ між елементами списку */
    border: 1px solid #e90a0a; /* Додаємо рамку */
    padding: 10px; /* Додаємо внутрішній відступ для контенту */
  }